#lgWrapper .required:not(button) {
    color: var(--lg-warning);
    font-size: 0.7rem;
    line-height: 15px;
    font-weight: bold;
}

#lgWrapper #productAddButton.required {
    background: var(--lg-warning);
    color: var(--lg-grey-light);
}

#lgWrapper #productAddButton.required:hover,
#lgWrapper #productAddButton.required:focus {
    background: var(--lg-warning);
}

#lgWrapper #productAddButton.required:hover {
    color: white;
}

.noRecordsInfo {
    height: 100px;
    font-size: 16px;
    background: var(--lg-background);
    color: var(--lg-grey-dark);
}

#lgWrapper .removeProductButton {
    margin-top: -4px;
    background: none;
    margin-right: -5px;
}

#lgWrapper .removeProductButton:hover {
    color: var(--lg-warning);
}

#productAddSection {
    padding-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 12px;
}

#productAddButton {
    vertical-align: top;
}

.productRow {
    cursor: pointer;
    transition-timing-function: ease;
    transition: 0.1s;
}

#lgWrapper .productRow {
    color: var(--lg-grey-light);
}

#lgWrapper .removeProductButton {
    color: inherit;
}

#productRowHeader,
.productRow {
    font-size: 0.755rem;
    line-height: 30px;
}

.productRow:nth-child(even) {
    background: var(--lg-background);
}

.productRow:nth-child(odd) {
    background: #2c2e2bf7;
}

#lgWrapper .productRow:hover {
    color: black;
    background: var(--lg-green);
    outline: 2px solid var(--lg-green);
}
