:root {
    --lg-background: #2c2e2b;
    --lg-background-light: #2c2e2bcc;
    --lg-green: #accc58;
    --lg-green-dark: #9dc53b;
    --lg-blue: #5395e5;
    --lg-grey-light: #d2d2d2;
    --lg-grey-dark: #808184;
}

.lgSelected {
    color: var(--lg-green) !important;
}

body {
    overflow-x: hidden;
    background: url("./mapBackground.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

/* Generic */
#lgWrapper .formPanel {
    background: #2c2e2bf7;
}

#lgWrapper textarea {
    font-size: 12px;
}

#lgWrapper textarea:focus {
    outline: 1px solid var(--lg-green);
}

#lgWrapper .form-group {
    margin-bottom: 5px;
}

.headerTextColors {
    background: var(--lg-background-light);
    color: var(--lg-grey-light);
    font-weight: bold;
    font-size: 0.755rem;
    line-height: 30px;
}

.noRecordsInfo {
    height: 100px;
    font-size: 16px;
    background: var(--lg-background);
    color: var(--lg-grey-dark);
}

#lgWrapper .removeProductButton {
    margin-top: -4px;
    background: none;
    margin-right: -5px;
}

#lgWrapper .removeProductButton:hover {
    color: #cc5555;
}

#lgWrapper .headerCaption {
    color: var(--lg-grey-dark);
    border-bottom: 2px dotted var(--lg-grey-light);
    display: block;
    padding-bottom: 8px;
    width: 100%;
    margin-bottom: 20px;
}

#lgWrapper .form-control-sm {
    height: calc(1.4125rem + 2px);
    font-size: 0.775rem;
}

.highlightText {
    color: var(--lg-blue);
}

#productAddSection {
    padding-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 12px;
}

#productAddButton {
    vertical-align: top;
}

.productRow {
    cursor: pointer;
    transition-timing-function: ease;
    transition: 0.1s;
}

#lgWrapper .productRow {
    color: var(--lg-grey-light);
}

#lgWrapper .removeProductButton {
    color: inherit;
}

#productRowHeader,
.productRow {
    font-size: 0.755rem;
    line-height: 30px;
}

.productRow:nth-child(even) {
    background: var(--lg-background);
}

.productRow:nth-child(odd) {
    background: #2c2e2bf7;
}

#lgWrapper .productRow:hover {
    color: black;
    background: var(--lg-green);
    outline: 2px solid var(--lg-green);
}

/* Layout */

#lgWrapper {
    padding-left: 0;
}

#lgWrapper.toggled {
    padding-left: 60px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 60px;
    width: 0;
    height: 100%;
    margin-left: -60px;
    overflow-y: auto;
    background: var(--lg-background);
}

#lgWrapper.toggled #sidebar-wrapper {
    width: 60px;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
    position: relative;
}

#lgWrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: var(--lg-grey-dark);
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: var(--lg-grey-light);
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* Bootstrap overrides */

#lgWrapper .btn-primary {
    background: var(--lg-green);
}

#lgWrapper .btn-sm {
    border: none;
    border-radius: 0px;
    cursor: pointer;
    padding: 0.22rem 0.5rem;
    font-size: 0.774rem;
}

#lgWrapper .btn-primary:hover {
    background: var(--lg-green-dark);
}

#lgWrapper .btn-primary:focus,
#lgWrapper .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#lgWrapper .btn-primary:focus {
    background: var(--lg-green-dark);
}

#lgWrapper .form-control {
    border: 1px solid var(--lg-green);
    border-radius: 0px;
}

#lgWrapper .form-control:focus {
    border-bottom: 2px solid var(--lg-green-dark);
}

#lgWrapper label {
    font-size: 12px;
    color: var(--lg-grey-light);
    vertical-align: top;
    margin-bottom: 0px;
}

#lgWrapper input,
#lgWrapper select,
#lgWrapper textarea {
    color: var(--lg-green);
}

#lgWrapper .form-check-label {
    color: var(--lg-grey-dark);
}

#lgWrapper input,
#lgWrapper select,
#lgWrapper textarea {
    background: var(--lg-background);
}
